extends layout 

block content 
  h1 #{title}: #{category.name}
  br
  if category_items.length  > 0
    h2 You cannot delete this category
    p Delete the following items first:
    ul 
      each item in category_items
        a(href=item.url) #{item.name}

    br
    hr
    a(href=category.url) Go back
  else   
    p Do you really want to delete this Category?


    form(action="" method="POST")
      button(type="submit") Delete
