extends layout

block content 
  h1= title
  h2= category.name
  p= category.description
  br
  if category_items.length > 0
    ul
      each item in category_items
        li
          a(href=item.url) #{item.name} - #{item.description} - In stock: #{item.inStock}
  else 
    p No items in this category
  hr
  a(href= category.url + "/delete") Delete category
  br
  a(href= category.url + "/update") Update category
